{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  {% endblock %}
  {% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "css/formularios.css" %}" media="screen">
  {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
  <li><a href="{% url 'administracion:index' %}">Inicio</a></li>
  <li><a href="{% url 'administracion:anexostecnicos' %}">Anexos técnicos</a></li>
  <li class="active">Crear anexo técnico</li>
</ol>
{% endblock %}
  {% block contenido %}    
    <form class="agregar_form" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}

      <div class="form-group">
        {% if mensaje %}
          <p class="error_mensaje">{{ mensaje }}</p>
        {% endif %}
      </div>

      <div class="contenido_form">
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.numero_oficio.label }}<span class="error">{{ form.numero_oficio.errors }}</span></label> 
                {{ form.numero_oficio }}
          <span id="helpBlock" class="help-block">{{ form.numero_oficio.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.proyecto.label }}<span class="error">{{ form.proyecto.errors }}</span></label>
                {{ form.proyecto }}
          <span id="helpBlock" class="help-block">{{ form.proyecto.help_text }}</span>        
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.nombre.label }}<span class="error">{{ form.nombre.errors }}</span></label>
                {{ form.nombre }}
          <span id="helpBlock" class="help-block">{{ form.nombre.help_text }}</span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.siglas.label }}<span class="error">{{ form.siglas.errors }}</span></label>
          {{ form.siglas }}
          <span id="helpBlock" class="help-block">{{ form.siglas.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.status.label }}<span class="error">{{ form.status.errors }}</span></label>
          {{ form.status }}
          <span id="helpBlock" class="help-block">{{ form.status.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">{{ form.archivo.label }}<span class="error">{{ form.archivo.errors }}</span></label>
          {{ form.archivo }}
          <span id="helpBlock" class="help-block">{{ form.archivo.help_text }}</span>
        </div>
        <div class="form-group">
          <center>
              <button type="submit" class="btn btn-primary">Agregar</button>
          </center>
        </div>
      </div>
    </form>
    {% endblock %}