{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}
	{% block titulo %}Anexos tecnicos{% endblock %}
	{% block extrascript %}
	<script type="text/javascript" src="{% static "js/en_historico.js" %}"></script>
    <script>
     function detalle(anexo_id){
     	$.fancybox.showLoading();
		$.get('/administracion/detalle_anexotecnico/'+anexo_id+'/', {}, function(data){ 
			$.fancybox({'content': data,
						'openEffect': 'elastic',
						'closeEffect': 'elastic',
					   });
		});   	
     }

     function aviso(anexo_id){
     	$.fancybox.showLoading();
     	var data = {mensaje: "¿Está seguro de querer eliminar este anexo tecnico?"}
     	$.get('/administracion/modal_aviso/', data, function(response){
     		$.fancybox({'content': response,
						'openEffect': 'elastic',
						'closeEffect': 'elastic',
     					'afterShow':function(){
     						$('#aceptar').click(function(){
     								$(this).attr("disabled", "disabled");
									//$.fancybox.close();
									eliminar(anexo_id);
     						});

     						$("#cancelar").click(function(){
									$.fancybox.close();
     						});
     					},
     					});

     	});
     }

     function eliminar(anexo_id){
     	$.fancybox.showLoading();

     	var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
     	var data = {'pk': anexo_id, 'csrfmiddlewaretoken': csrfmiddlewaretoken}

     	$.post('/administracion/eliminar_anexotecnico/', data, function(response){
     		if(response.error){
     			$.get('/administracion/modal_error/', {}, function(_response){ 
					$.fancybox({'content': _response,
								'openEffect': 'elastic',
								'closeEffect': 'elastic',
								'afterShow':function(){ window.location.reload();},
								});
     			});
     		}
     		else{
     			$.fancybox.showLoading();
     			$.get('/administracion/modal_ok/', {}, function(_response){
					$.fancybox({'content': _response,
								'openEffect': 'elastic',
								'closeEffect': 'elastic',
								'afterClose':function(){ window.location.reload();},
							});
     			});

     		}

     	});
     } 
    </script>
    {% endblock %}
    {% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static "css/list_views.css"%}" media="screen">
    {% endblock %}
	{% block breadcrumbs %}
	<ol class="breadcrumb" style="margin-top:-20px">
		<li><a href="{% url 'administracion:index' %}">Inicio</a></li>
		<li class="active">Anexos técnicos</li>
	</ol>
	{% endblock %}
    {% block contenido %}
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	  	Listado de anexos tecnicos
	  <div class="agregar">
	  	{% if not historico %}
	  	<a title="Agregar nuevo" href="{% url 'administracion:crear-anexotecnico' %}">
	  		<img src="{% static "icons/agregar.png" %}">Agregar nuevo
	  		<!-- <button type="button" class="btn btn-default agregar" />Agregar nuevo</button>-->
	  	</a>&nbsp;
	  	{% endif %}
	    <a title="Ver historico" href="{% url 'administracion:anexostecnicos' %}?historico={% if historico %}{% else %}1{% endif %}">
      		<img  src="{% static "icons/historico.png" %}">{% if historico %}Ver activos{% else %}Ver historico{% endif %}
       		<!-- <button type="button" class="btn btn-default agregar" />Agregar nuevo</button>-->
        </a>
	  </div>
	  </div>

	  <!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Número de oficio de invitación</th>
					<th>Nombre de la dependencia</th>
					<th>Estatus</th>
					<th>Fecha de creación</th>
					<th>Acciones</th>
				</tr>
			</thead>
			{% for anexotecnico in anexostecnicos %}
			<tr>
				<td>#{{ anexotecnico.numero_oficio }}</td>
				<td>{{ anexotecnico.nombre }}</td>
				<td>{{ anexotecnico.status_status }}</td>
				<td>{{ anexotecnico.fecha_creacion }}</td>
				<td>
					{% csrf_token %}
					<a onClick="detalle({{anexotecnico.id}});" title="Consultar">
						<img src="{% static "icons/consultar.png" %}">
					</a>&nbsp;
					{% if not anexotecnico.en_historico %}
					<a href="{% url 'administracion:editar-anexotecnico' anexotecnico.id %}" title="Editar" >
						<img src="{% static "icons/editar.png" %}"> 
					</a>&nbsp;
					<a onClick="aviso({{ anexotecnico.id }});" title="Eliminar">
						<img src="{% static "icons/eliminar.png" %}"> 
					</a>&nbsp;
	                <a onClick="aviso_historico('anexotecnico', {{ anexotecnico.id }}, 2);" title="Histórico">
						<img src="{% static "icons/enviar_historico.png" %}">
                    </a>&nbsp;
	                <a onClick="aviso_historico('anexotecnico', {{ anexotecnico.id }}, 3);" title="Carcelar">
	                    <img src="{% static "icons/cancelar.png" %}">
	                </a>
	                {% endif %}
			</tr>
			{% endfor %}			
		</table>
	</div>	
	<div>
		<nav>
		  <ul class="pager">
		    {% if anexostecnicos.has_previous %}
	           <li><a href="?page={{ anexostecnicos.previous_page_number }}{% if historico %}&historico=1{% endif %}">Anterior</a></li> 
		    {% endif %}                                    
			Página {{ anexostecnicos.number }} de {{ anexostecnicos.paginator.num_pages }}
		    {% if anexostecnicos.has_next %}
	    		<li><a href="?page={{ anexostecnicos.next_page_number }}{% if historico %}&historico=1{% endif %}">Siguiente</a></li>
		    {% endif %}
		  </ul>
		</nav>	
	</div>
	{% endblock %}	