<style>
.input-group-addon{
  width:50%;
}
</style>

<div class="modal-header">
	<h4 class="modal-title">Detalle Documento General</h4>
</div>

<div class="modal-body">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Documeto General</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.documentos_generales}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Responsable</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.responsable}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Nombre del documento</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.nombre}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Estatus</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.status_status}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha de creación</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_creacion}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Archivo</span>
	  {% if object.archivo %}
	  <a target="_blank" href="{{object.archivo_liga}}">
	  <input type="text" class="form-control" readonly="readonly" value="{{object.archivo}}" aria-describedby="basic-addon1"><br>
	  </a>
	  {% else %}
	  <input type="text" class="form-control" readonly="readonly" value="{{object.archivo}}" aria-describedby="basic-addon1"><br>
	  {% endif%} 
	</div>	
</div>

<div class="modal-footer">
	<center>
		<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript: $.fancybox.close()">Aceptar</button>
	</center>
</div>
  	
