{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  {% endblock %}
  {% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "css/formularios.css" %}" media="screen">
  {% endblock %}
  {% block breadcrumbs %}
  <ol class="breadcrumb" style="margin-top:-20px">
    <li><a href="{% url 'administracion:index' %}">Inicio</a></li>
    <li><a href="{% url 'administracion:detalle-facturas' %}">Detalles de facturas</a></li>
    <li class="active">Crear detalle de factura</li>
  </ol>
  {% endblock %}
  {% block contenido %}    
    <form class="agregar_form" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
          {% if mensaje %}
            <p class="error_mensaje">{{ mensaje }}</p>
          {% endif %}
        </div>
      <div class="contenido_form">
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.factura.label }}<span class="error">{{ form.factura.errors }}</span></label> 
          {{ form.factura }}
          <span id="helpBlock" class="help-block">{{ form.factura.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.descripcion.label }}<span class="error">{{ form.descripcion.errors }}</span></label>
          {{ form.descripcion }}
          <span id="helpBlock" class="help-block">{{ form.descripcion.help_text }}</span>        
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.cantidad.label }}<span class="error">{{ form.cantidad.errors }}</span></label>
          {{ form.cantidad }}
          <span id="helpBlock" class="help-block">{{ form.cantidad.help_text }}</span>
        </div>
        <div form="form-group">
          <center>
              <button type="submit" class="btn btn-primary">Agregar</button>
          </center>
        </div>
      </div>
    </form>
    {% endblock %}