{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  {% endblock %}
  {% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "css/formularios.css" %}" media="screen">
  {% endblock %}
  {% block breadcrumbs %}
  <ol class="breadcrumb" style="margin-top:-20px">
    <li><a href="{% url 'administracion:index' %}">Inicio</a></li>
    <li><a href="{% url 'administracion:entregables'%}">Entregables</a></li>
    <li class="active">Crear entregable</li>
  </ol>
  {% endblock %}
  {% block contenido %}    
    <form class="agregar_form" action="." method="POST">{% csrf_token %}
      <div class="form-group">
        {% if mensaje %}
          <p class="error_mensaje">{{ mensaje }}</p>
        {% endif %}
      </div>

      <div class="contenido_form">
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.proyecto.label }}<span class="error">{{ form.proyecto.errors }}</span></label> 
                {{ form.proyecto }}
          <span id="helpBlock" class="help-block">{{ form.proyecto.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.responsable.label }}<span class="error">{{ form.responsable.errors }}</span></label> 
                {{ form.responsable }}
          <span id="helpBlock" class="help-block">{{ form.responsable.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.total.label }}<span class="error">{{ form.total.errors }}</span></label> 
                {{ form.total }}
          <span id="helpBlock" class="help-block">{{ form.total.help_text }}</span>
        </div>
        <div class="form-group">
            <center>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </center>
        </div>
      </div>
    </form>
    {% endblock %}