{% extends "inicio/base.html" %}
{% load i18n %}
{% load staticfiles %}
    {% block script %}
    <script type="text/javascript">
      $(document).on("ready", function () { 
        $('#inputEmail3').focus();
      });
    </script>
    {% endblock %}

    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" media="screen">
    {% endblock %}
    
    {% block titulo %} Login {% endblock %}

    {% block contenido %}
      <div class="login">
      <form class="form-horizontal" action="." method="POST">{% csrf_token %}
        <div class="formulario">
        {% if mensaje %}
        <div class="form-group">
            <p class="MsjError">{{ mensaje }}</p>
        </div>
        {% endif %}
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.username.label }}<span class="error">{{ form.proyecto.errors }}</span></label> 
                {{ form.username }}
          <span id="helpBlock" class="help-block">{{ form.username.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ form.password.label }}<span class="error">{{ form.password.errors }}</span></label> 
                {{ form.password }}
          <span id="helpBlock" class="help-block">{{ form.password.help_text }}</span>
        </div>              
        <div class="form-group">
            <center>
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </center>
        </div>
  
          {% if next %}
          <input type="text" name="next" value="{{ next }}" hidden >
          {% else %}
          {% endif %}
      </div>
      </form>


        </div>
    {% endblock %}
