<style>
.input-group-addon{
  width:50%;
}
</style>

<div class="modal-header">
	<h4 class="modal-title">Empleado {{ object.rfc }}</h4>
</div>

<div class="modal-body">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">RFC</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.rfc}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Credencial</span>
	  {% if object.credencial_elector %}
	  <a target="_blank" href="{{object.credencial_liga}}">
	  <input type="text" class="form-control" readonly="readonly" value="{{object.credencial_elector}}" aria-describedby="basic-addon1">
	  </a>
	  {% else %}
	  	  <input type="text" class="form-control" readonly="readonly" value="{{object.credencial_elector}}" aria-describedby="basic-addon1">
	  {% endif%} 
	  <br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Nombre(s)</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.nombre}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Apellido paterno</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.apellido_paterno}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Apellido materno</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.apellido_materno}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Siglas</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.siglas_nombre}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Genero</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.genero_genero}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Dirección</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.direccion}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Teléfono</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.telefono}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Número de seguro</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.no_seguro}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha de ingreso</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_ingreso}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Puesto</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.puesto}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Vencimiento de contrato</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_vencimiento_contrato}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha de baja</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_baja}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Motivo de baja</span>
		<textarea class="form-control" readonly="readonly" aria-describedby="basic-addon1">{{object.motivo}}</textarea>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Dias trabajados al mes</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.dias_trabajo_al_mes}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Turno</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.turno_turno}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Tipo de Plaza</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.plaza_plaza}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Especificación</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.especificacion}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Monto total</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.monto}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">El pago es</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.pago_pago}}" aria-describedby="basic-addon1"><br>
	</div>
</div>

<div class="modal-footer">
	<center>
<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript: $.fancybox.close()">Aceptar</button>
	</center>