{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  {% endblock %}
  {% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "css/formularios.css" %}" media="screen">
  {% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb" style="margin-top:-20px">
    <li><a href="{% url 'administracion:index' %}">Inicio</a> </li>
    <li><a href="{% url 'administracion:proyectos' %}">Proyectos</a></li>
    <li class="active">Crear Proyecto</li>
  </ol>
{% endblock %}

  {% block contenido %}    
    <form class="agregar_form" action="." method="POST">{% csrf_token %}
        <div class="form-group">
          {% if mensaje %}
            <p class="error_mensaje">{{ mensaje }}</p>
          {% endif %}
        </div>

      <div class="contenido_form">
        <div class="form-group">
          <label  for="exampleInputEmail1">
            {{ form.nombre.label }}
            <span class="error">{% if form.nombre.errors %}{{ form.nombre.errors }}{% endif %}</span>
          </label> 
                {{ form.nombre }}
            <span id="helpBlock" class="help-block">{{ form.nombre.help_text }}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.siglas.label }}
              <span class="error">{% if form.siglas.errors %}{{ form.siglas.errors }}{% endif %}</span>
            </label>
                {{ form.siglas }}
            <span id="helpBlock" class="help-block">{{ form.siglas.help_text }}</span>        
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.cliente.label }}
              <span class="error">{% if form.cliente.errors %}{{ form.cliente.errors }}{% endif %}</span>
            </label>
                {{ form.cliente }}
            <span id="helpBlock" class="help-block">{{ form.cliente.help_text }}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.responsable.label }}
              <span class="error">{% if form.responsable.errors %}{{ form.responsable.errors }}{% endif %}</span>
            </label>
                {{ form.responsable }}
            <span id="helpBlock" class="help-block">{{ form.responsable.help_text }}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.fecha_inicio.label }}
              <span class="error">{% if form.fecha_inicio.errors %}{{ form.fecha_inicio.errors }}{% endif %}</span>
            </label>
                {{ form.fecha_inicio }}
            <span id="helpBlock" class="help-block">{{ form.fecha_inicio.help_text }}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.fecha_fin.label }}
              <span class="error">{% if form.fecha_fin.errors %}{{ form.fecha_fin.errors }}{% endif %}</span>
            </label>
                {{ form.fecha_fin }}
            <span id="helpBlock" class="help-block">{{ form.fecha_fin.help_text }}</span>
          </div>              
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.avance.label }}
              <span class="error">{% if form.avance.errors %}{{ form.avance.errors }}{% endif %}</span>
            </label>
                {{ form.avance }}
            <span id="helpBlock" class="help-block">{{ form.avance.help_text }}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">{{ form.comentario.label }}
              <span class="error">{% if form.comentario.errors %}{{ form.comentario.errors }}{% endif %}</span>
            </label>
                {{ form.comentario }}
            <span id="helpBlock" class="help-block">{{ form.comentario.help_text }}</span>
          </div>
          <div class="form-group">
            <center>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </center>
          </div>
      </div>
    </form>
    {% endblock %}