{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}
	{% block titulo %}Facturas{% endblock %}
	{% block extrascript %}
    <script>
     function detalle(detalle_factura_id){
     	$.fancybox.showLoading();
		$.get('/administracion/detalle_detalle_factura/'+detalle_factura_id+'/', {}, function(data){ 
			$.fancybox({'content': data,
     					'openEffect': 'elastic',
						'closeEffect': 'elastic',
					   });
		});   	
     }
 
    </script>
    {% endblock %}

    {% block extrastyle %}
    <style>
    .bienvenida{
    	padding-right: 15px;
    }
    .menu{
    	padding-left: 15px;
    	width: 15%;
    }
    .panel{
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    }
    .agregar{
	    margin-left: 98%;
	    margin-top: -20px    	
    }
    </style>
    {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
	<li><a href="{% url 'administracion:index' %}">Inicio</a></li>
	<li class="active">Detalles de facturas</li>
</ol>
{% endblock %}

    {% block contenido %}
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	  	Listado de detalles de facturas
	  <div>
	  	<a title="Agregar nuevo" href="{% url 'administracion:crear-detalle-factura' %}">
	  		<img class="agregar" src="{% static "icons/agregar.png" %}">
	  		<!-- <button type="button" class="btn btn-default agregar" />Agregar nuevo</button>-->
	  	</a>
	  </div>
	  </div>

	  <!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Factura</th>
					<th>Cantidad</th>
					<th>Acciones</th>
				</tr>
			</thead>
			{% for detalle in detalle_facturas %}
			<tr>
				<td>{{ detalle.factura }}</td>
				<td>{{ detalle.cantidad }}</td>
				<td>
					{% csrf_token %}
					<a onClick="detalle({{detalle.id}});" title="Consultar">
						<img src="{% static "icons/consultar.png" %}">
					</a>&nbsp; &nbsp;
					<a href="{% url 'administracion:editar-detalle-factura' detalle.id %}" title="Editar" >
						<img src="{% static "icons/editar.png" %}"> 
					</a>
			</tr>
			{% endfor %}			
		</table>
	</div>	
	<div>
		<nav>
		  <ul class="pager">
		    {% if detalle_facturas.has_previous %}
	           <li><a href="?page={{ detalle_facturas.previous_page_number }}">Anterior</a></li> 
		    {% endif %}                                    
			Página {{ detalle_facturas.number }} de {{ detalle_facturas.paginator.num_pages }}
		    {% if detalle_facturas.has_next %}
	    		<li><a href="?page={{ detalle_facturas.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		  </ul>
		</nav>	
	</div>
	{% endblock %}	