{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  {% endblock %}
  {% block extrastyle %}
    <style>
    .bienvenida{
      padding-right: 15px;
    }
    .agregar{
      margin-left: 89%;
      margin-top: -20px     
    }
    .form-control{
      width: 80%;
    }
    .contenido_form{
      margin-left: 10%;
    }
    .agregar_form{ 
      margin-left: 33%;
      width: 33%;
        border-style: solid;
        border-width: 1px; 
        border-color: #DDDDDD;
        border-radius: 4px 4px 0 0;
        padding: 20px;  
      }

      span.error{
        color: red;
      }
      p.error_mensaje{
        color: red;
        text-align: center;
      }
    </style>
  {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
  <li><a href="{% url 'administracion:index' %}">Inicio</a></li>
  <li><a href="{% url 'administracion:entidades-proyecto'%}">Entidades-proyecto</a></li>
  <li class="active">Crear entidad-proyecto</li>
</ol>
{% endblock %}
  {% block contenido
  {% block contenido %}    
    <form class="agregar_form" action="." method="POST">{% csrf_token %}
      <div class="contenido_form">

        <div class="form-group">
            <p class="error_mensaje">Los campos marcados con * son requeridos.</p>
        </div>

      <div class="contenido_form">
        <div class="form-group">
          <label for="exampleInputEmail1">Entidad<span class="error">*</span></label> 
                {{ form.entidad }}
          <span id="helpBlock" class="help-block">{{ form.entidad.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Proyecto<span class="error">*</span></label> 
                {{ form.proyecto }}
          <span id="helpBlock" class="help-block">{{ form.proyecto.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Porcentaje<span class="error">*</span></label> 
                {{ form.porcentaje }}
          <span id="helpBlock" class="help-block">{{ form.porcentaje.help_text }}</span>
        </div>

              <button type="submit" class="btn btn-default">Agregar</button>
      </div>
    </form>
    {% endblock %}