{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}
	{% block titulo %}Entidades{% endblock %}
	{% block extrascript %}
    <script>
     function detalle(entidad_id){
     	$.fancybox.showLoading();
		$.get('/administracion/detalle_entidad/'+entidad_id+'/', {}, function(data){ 
			$.fancybox({'content': data,
						'openEffect': 'elastic',
						'closeEffect': 'elastic',
					   });
		});   	
     }

     function aviso(entidad_id){
     	$.fancybox.showLoading();
     	var data = {mensaje: "¿Está seguro de querer eliminar este entidad?"}
     	$.get('/administracion/modal_aviso/', data, function(response){
     		$.fancybox({'content': response,
     					'afterShow':function(){
     						$('#aceptar').click(function(){
     								$(this).attr("disabled", "disabled");
									//$.fancybox.close();
									eliminar(entidad_id);
     						});

     						$("#cancelar").click(function(){
									$.fancybox.close();
     						});
     					},
     					});

     	});
     }

     function eliminar(entidad_id){
     	$.fancybox.showLoading();

     	var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
     	var data = {'pk': entidad_id, 'csrfmiddlewaretoken': csrfmiddlewaretoken}

     	$.post('/administracion/eliminar_entidad/', data, function(response){
     		if(response.error){
     			$.get('/administracion/modal_error/', {}, function(_response){ 
					$.fancybox({'content': _response,
								'openEffect': 'elastic',
								'closeEffect': 'elastic',
								'afterClose':function(){ window.location.reload();},
								});
     			});
     		}
     		else{
     			$.fancybox.showLoading();
     			$.get('/administracion/modal_ok/', {}, function(_response){
					$.fancybox({'content': _response,
								'openEffect': 'elastic',
								'closeEffect': 'elastic',
								'afterClose':function(){ window.location.reload();},
							});
     			});

     		}

     	});
     } 
    </script>
    {% endblock %}

    {% block extrastyle %}
    <style>
    .bienvenida{
    	padding-right: 15px;
    }
    .menu{
    	padding-left: 15px;
    	width: 15%;
    }
    .panel{
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    }
    .agregar{
	    margin-left: 98%;
	    margin-top: -20px    	
    }
    </style>
    {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
	<li><a href="{% url 'administracion:index' %}">Inicio</a></li>
	<li class="active">Entidades</li>
</ol>
{% endblock %}
    {% block contenido %}
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	  	Listado de entidades
	  <div>
	  	<a title="Agregar nuevo" href="{% url 'administracion:crear-entidad' %}">
	  		<img class="agregar" src="{% static "icons/agregar.png" %}">
	  		<!-- <button type="button" class="btn btn-default agregar" />Agregar nuevo</button>-->
	  	</a>
	  </div>
	  </div>

	  <!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			{% for entidad in entidades %}
			<tr>
				<td>{{ entidad.nombre }} </td>
				<td>{{ entidad.tipo_tipo }}</td>
				<td>
					{% csrf_token %}
					<a onClick="detalle({{entidad.id}});" title="Consultar">
						<img src="{% static "icons/consultar.png" %}">
					</a>&nbsp; &nbsp;
					<a href="{% url 'administracion:editar-entidad' entidad.id %}" title="Editar" >
						<img src="{% static "icons/editar.png" %}"> 
					</a>&nbsp; &nbsp;
					<a onClick="aviso({{ entidad.id }});" title="Eliminar">
						<img src="{% static "icons/eliminar.png" %}"> 
					</a>
			</tr>
			{% endfor %}			
		</table>
	</div>	
	<div>
		<nav>
		  <ul class="pager">
		    {% if entidades.has_previous %}
	           <li><a href="?page={{ entidades.previous_page_number }}">Anterior</a></li> 
		    {% endif %}                                    
			Página {{ entidades.number }} de {{ entidades.paginator.num_pages }}
		    {% if entidades.has_next %}
	    		<li><a href="?page={{ entidades.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		  </ul>
		</nav>	
	</div>
	{% endblock %}		