{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}
	{% block titulo %}Entidades{% endblock %}
	{% block extrascript %}
    <script>
     function detalle(entidad_proyecto_id){
     	$.fancybox.showLoading();
		$.get('/administracion/detalle_entidad_proyecto/'+entidad_proyecto_id+'/', {}, function(data){ 
			$.fancybox({'content': data,
					   });
		});   	
     }

    </script>
    {% endblock %}

    {% block extrastyle %}
    <style>
    .bienvenida{
    	padding-right: 15px;
    }
    .menu{
    	padding-left: 15px;
    	width: 15%;
    }
    .panel{
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    }
    .agregar{
	    margin-left: 98%;
	    margin-top: -20px    	
    }
    </style>
    {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
	<li><a href="{% url 'administracion:index' %}">Inicio</a></li>
	<li class="active">Entidades-proyecto</li>
</ol>
{% endblock %}
    {% block contenido %}
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	  	Listado relaciones de entidad-proyecto
	  <div>
	  	<a title="Agregar nuevo" href="{% url 'administracion:crear-entidad-proyecto' %}">
	  		<img class="agregar" src="{% static "icons/agregar.png" %}">
	  		<!-- <button type="button" class="btn btn-default agregar" />Agregar nuevo</button>-->
	  	</a>
	  </div>
	  </div>

	  <!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Entidad</th>
					<th>Proyecto</th>
					<th>Porcentaje</th>
					<th>Acciones</th>
				</tr>
			</thead>
			{% for entidad_proyecto in entidades_proyecto %}
			<tr>
				<td>{{ entidad_proyecto.entidad }} </td>
				<td>{{ entidad_proyecto.proyecto }}</td>
				<td>{{ entidad_proyecto.porcentaje }}</td>
				<td>
					{% csrf_token %}
					<a onClick="detalle({{entidad_proyecto.id}});" title="Consultar">
						<img src="{% static "icons/consultar.png" %}">
					</a>&nbsp; &nbsp;
					<a href="{% url 'administracion:editar-entidad-proyecto' entidad_proyecto.id %}" title="Editar" >
						<img src="{% static "icons/editar.png" %}"> 
					</a>
			</tr>
			{% endfor %}			
		</table>
	</div>	
	<div>
		<nav>
		  <ul class="pager">
		    {% if entidades_proyecto.has_previous %}
	           <li><a href="?page={{ entidades_proyecto.previous_page_number }}">Anterior</a></li> 
		    {% endif %}                                    
			Página {{ entidades_proyecto.number }} de {{ entidades_proyecto.paginator.num_pages }}
		    {% if entidades_proyecto.has_next %}
	    		<li><a href="?page={{ entidades_proyecto.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		  </ul>
		</nav>	
	</div>
	{% endblock %}		