{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}
	{% block titulo %}Facturas{% endblock %}
	{% block extrascript %}
    <script>
     function detalle(factura_id){
     	$.fancybox.showLoading();
		$.get('/administracion/detalle_factura/'+factura_id+'/', {}, function(data){ 
			$.fancybox({'content': data,
						'afterClose':function(){ window.location.reload();},
					   });
		});   	
     }
 
    </script>
    {% endblock %}

    {% block extrastyle %}
    <style>
    .bienvenida{
    	padding-right: 15px;
    }
    .menu{
    	padding-left: 15px;
    	width: 15%;
    }
    .panel{
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    }
    .agregar{
	    margin-left: 98%;
	    margin-top: -20px    	
    }
    </style>
    {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
	<li><a href="{% url 'administracion:index' %}">Inicio</a></li>
	<li class="active">Facturas</li>
</ol>
{% endblock %}

    {% block contenido %}
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	  	Listado de facturas
	  <div>
	  	<a title="Agregar nuevo" href="{% url 'administracion:crear-factura' %}">
	  		<img class="agregar" src="{% static "icons/agregar.png" %}">
	  		<!-- <button type="button" class="btn btn-default agregar" />Agregar nuevo</button>-->
	  	</a>
	  </div>
	  </div>

	  <!-- Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Nombre</th>
					<th>No. factura</th>
					<th>Fecha</th>
					<th>Acciones</th>
				</tr>
			</thead>
			{% for factura in facturas %}
			<tr>
				<td>{{ factura.tipo_tipo }}</td>
				<td>{{ factura.nombre }}</td>
				<td>{{ factura.numero_factura }}</td>
				<td>{{ factura.fecha_factura }}</td>
				<td>
					{% csrf_token %}
					<a onClick="detalle({{factura.id}});" title="Consultar">
						<img src="{% static "icons/consultar.png" %}">
					</a>&nbsp; &nbsp;
					<a href="{% url 'administracion:editar-factura' factura.id %}" title="Editar" >
						<img src="{% static "icons/editar.png" %}"> 
					</a>
			</tr>
			{% endfor %}			
		</table>
	</div>	
	<div>
		<nav>
		  <ul class="pager">
		    {% if facturas.has_previous %}
	           <li><a href="?page={{ facturas.previous_page_number }}">Anterior</a></li> 
		    {% endif %}                                    
			Página {{ facturas.number }} de {{ facturas.paginator.num_pages }}
		    {% if facturas.has_next %}
	    		<li><a href="?page={{ facturas.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		  </ul>
		</nav>	
	</div>
	{% endblock %}	