{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  {% endblock %}
  {% block extrastyle %}
    <style>
    .bienvenida{
      padding-right: 15px;
    }
    .agregar{
      margin-left: 89%;
      margin-top: -20px     
    }
    .form-control{
      width: 80%;
    }
    .contenido_form{
      margin-left: 10%;
    }
    .agregar_form{ 
      margin-left: 33%;
      width: 33%;
        border-style: solid;
        border-width: 1px; 
        border-color: #DDDDDD;
        border-radius: 4px 4px 0 0;
        padding: 20px;  
      }

      span.error{
        color: red;
      }
      p.error_mensaje{
        color: red;
        text-align: center;
      }
    </style>
  {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
  <li><a href="{% url 'administracion:index' %}">Inicio</a></li>
  <li><a href="{% url 'administracion:facturas'%}">Facturas</a></li>
  <li class="active">Crear factura</li>
</ol>
{% endblock %}
  {% block contenido %}    
    <form class="agregar_form" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="contenido_form">

        <div class="form-group">
            <p class="error_mensaje">Los campos marcados con * son requeridos.</p>
        </div>
      <div class="contenido_form">
        <div class="form-group">
          <label for="exampleInputEmail1">Contrato<span class="error">*</span></label> 
                {{ form.contrato }}
          <span id="helpBlock" class="help-block">{{ form.contrato.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Responsable<span class="error">*</span></label>
                {{ form.responsable }}
          <span id="helpBlock" class="help-block">{{ form.responsable.help_text }}</span>        
        </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Tipo<span class="error">*</span></label>
                {{ form.tipo }}
          <span id="helpBlock" class="help-block">{{ form.tipo.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Nombre<span class="error">*</span></label>
                {{ form.nombre }}
          <span id="helpBlock" class="help-block">{{ form.nombre.help_text }}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Siglas<span class="error">*</span></label>
                {{ form.siglas }}
          <span id="helpBlock" class="help-block">{{ form.siglas.help_text }}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">No. factura<span class="error">*</span></label>
                {{ form.numero_factura }}
          <span id="helpBlock" class="help-block">{{ form.numero_factura.help_text }}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Fecha<span class="error">*</span></label>
                {{ form.fecha_factura }}
          <span id="helpBlock" class="help-block">{{ form.fecha_factura.help_text }}</span>
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">#Folio<span class="error">*</span></label>
                {{ form.folio_venta }}
          <span id="helpBlock" class="help-block">{{ form.folio_venta.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">RFC<span class="error">*</span></label>
                {{ form.rfc }}
          <span id="helpBlock" class="help-block">{{ form.rfc.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Dirección<span class="error">*</span></label>
                {{ form.direccion }}
          <span id="helpBlock" class="help-block">{{ form.direccion.help_text }}</span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Subtotal<span class="error">*</span></label>
                {{ form.subtotal }}
          <span id="helpBlock" class="help-block">{{ form.subtotal.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">IVA<span class="error">*</span></label>
                {{ form.iva }}
          <span id="helpBlock" class="help-block">{{ form.iva.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Total (numero)<span class="error">*</span></label>
                {{ form.total_con_numero }}
          <span id="helpBlock" class="help-block">{{ form.total_con_numero.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Total (letra)<span class="error">*</span></label>
                {{ form.total_con_letra }}
          <span id="helpBlock" class="help-block">{{ form.total_con_letra.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Pagada<span class="error">*</span></label>&nbsp; &nbsp;
                {{ form.pagada }}
          <span id="helpBlock" class="help-block">{{ form.pagada.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Archivo (XML)<span class="error">*</span></label>
                {{ form.archivo_xml }}
          <span id="helpBlock" class="help-block">{{ form.archivo_xml.help_text }}</span>
              </div>

              <div class="form-group">
                <label for="exampleInputFile">Archivo (físico)<span class="error">*</span></label>
                {{ form.archivo_fisico }}
          <span id="helpBlock" class="help-block">{{ form.archivo_fisico.help_text }}</span>
              </div>

              <button type="submit" class="btn btn-default">Agregar</button>
      </div>
    </form>
    {% endblock %}