<style>
.input-group-addon{
  width:40%;
}
</style>

<div class="modal-header">
	<h4 class="modal-title">Factura #{{ object.numero_factura }}</h4>
</div>

<div class="modal-body">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Contrato</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.contrato}}" aria-describedby="basic-addon1"><br>
	</div>

	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Responsable</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.responsable}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Tipo</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.tipo_tipo}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Nombre</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.nombre}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Siglas</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.siglas}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">No. factura</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.numero_factura}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_factura}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Folio</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.folio_venta}}" aria-describedby="basic-addon1"><br>
	</div><div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">RFC</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.rfc}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Dirección</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.direccion}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Subtotal</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.subtotal}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Iva</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.iva}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Total(numerico)</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.total_con_numero}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Total(letra)</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.total_con_letra}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Pagada</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.pagada|yesno:'Sí,No,---'}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Archivo(XML)</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.archivo_xml}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Archivo</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.archivo_fisico}}" aria-describedby="basic-addon1"><br>
	</div>
</div>

<div class="modal-footer">
	<center>
<button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript: $.fancybox.close()">Aceptar</button>
	</center>
  	
