{% extends "inicio/base_colima.html" %}
{% load i18n %}
{% load staticfiles %}

  {% block extrascript %}
  <script>
 $(document).ready(function () {
    $("#id_tipo_plaza").change(function(){
      if ($(this).val() == 'O'){
        $("#especificacion").attr("hidden", false);
      }
      else{
       $("#especificacion").attr("hidden", true); 
      }
    });
  });
  </script>
  {% endblock %}
  {% block extrastyle %}
    <style>
    .bienvenida{
      padding-right: 15px;
    }
    .agregar{
      margin-left: 89%;
      margin-top: -20px     
    }
    .form-control{
      width: 80%;
    }
    .contenido_form{
      margin-left: 10%;
    }
    .agregar_form{ 
      margin-left: 33%;
      width: 33%;
        border-style: solid;
        border-width: 1px; 
        border-color: #DDDDDD;
        border-radius: 4px 4px 0 0;
        padding: 20px;  
      }

      span.error{
        color: red;
      }
      p.error_mensaje{
        color: red;
        text-align: center;
      }
    </style>
  {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb" style="margin-top:-20px">
  <li><a href="{% url 'administracion:index' %}">Inicio</a></li>
  <li><a href="{% url 'administracion:personal'%}">Personal</a></li>
  <li class="active">Crear personal</li>
</ol>
{% endblock %}
  {% block contenido %}    
    <form class="agregar_form" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="contenido_form">

        <div class="form-group">
            <p class="error_mensaje">Los campos marcados con * son requeridos.</p>
        </div>

      <div class="contenido_form">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre<span class="error">*</span></label> 
                {{ form.nombre }}
          <span id="helpBlock" class="help-block">{{ form.nombre.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Apellido Paterno<span class="error">*</span></label>
                {{ form.apellido_paterno }}
          <span id="helpBlock" class="help-block">{{ form.apellido_paterno.help_text }}</span>        
        </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Apellido Materno<span class="error">*</span></label>
                {{ form.apellido_materno }}
          <span id="helpBlock" class="help-block">{{ form.apellido_materno.help_text }}</span>
              </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Siglas<span class="error">*</span></label> 
                {{ form.siglas_nombre }}
          <span id="helpBlock" class="help-block">{{ form.siglas_nombre.help_text }}</span>
        <div class="form-group">
          <label for="exampleInputEmail1">RFC<span class="error">*</span></label> 
                {{ form.rfc }}
          <span id="helpBlock" class="help-block">{{ form.rfc.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Credencial<span class="error">*</span></label> 
                {{ form.credencial_elector }}
          <span id="helpBlock" class="help-block">{{ form.credencial_elector.help_text }}</span>
        </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Genero<span class="error">*</span></label> 
                {{ form.genero }}
          <span id="helpBlock" class="help-block">{{ form.genero.help_text }}</span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Dirección<span class="error">*</span></label> 
                {{ form.direccion }}
          <span id="helpBlock" class="help-block">{{ form.direccion.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Teléfono<span class="error">*</span></label> 
                {{ form.telefono }}
          <span id="helpBlock" class="help-block">{{ form.telefono.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">No. Seguro<span class="error">*</span></label> 
                {{ form.no_seguro }}
          <span id="helpBlock" class="help-block">{{ form.no_seguro.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Ingreso<span class="error">*</span></label> 
                {{ form.fecha_ingreso }}
          <span id="helpBlock" class="help-block">{{ form.fecha_ingreso.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Puesto<span class="error">*</span></label> 
                {{ form.puesto }}
          <span id="helpBlock" class="help-block">{{ form.puesto.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Turno<span class="error">*</span></label> 
                {{ form.turno }}
          <span id="helpBlock" class="help-block">{{ form.turno.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Tipo de Plaza<span class="error">*</span></label> 
                {{ form.tipo_plaza }}
          <span id="helpBlock" class="help-block">{{ form.tipo_plaza.help_text }}</span>
        </div>
        <div class="form-group" hidden="hidden" id="especificacion">
          <label for="exampleInputEmail1">Especificación<span class="error">*</span></label> 
                {{ form.especificacion }}
          <span id="helpBlock" class="help-block">{{ form.especificacion.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Tipo de pago<span class="error">*</span></label> 
                {{ form.tipo_pago }}
          <span id="helpBlock" class="help-block">{{ form.tipo_pago.help_text }}</span>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Monto<span class="error">*</span></label> 
                {{ form.monto }}
          <span id="helpBlock" class="help-block">{{ form.monto.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Días laborales<span class="error">*</span></label> 
                {{ form.dias_trabajo_al_mes }}
          <span id="helpBlock" class="help-block">{{ form.dias_trabajo_al_mes.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Vencimiento<span class="error">*</span></label> 
                {{ form.fecha_vencimiento_contrato }}
          <span id="helpBlock" class="help-block">{{ form.fecha_vencimiento_contrato.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Baja<span class="error">*</span></label> 
                {{ form.fecha_baja }}
          <span id="helpBlock" class="help-block">{{ form.fecha_baja.help_text }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Motivo<span class="error">*</span></label> 
                {{ form.motivo }}
          <span id="helpBlock" class="help-block">{{ form.motivo.help_text }}</span>
        </div>

              <button type="submit" class="btn btn-default">Agregar</button>
      </div>
    </form>
    {% endblock %}