{% load i18n %}
{% load staticfiles %}
<script>

$(document).ready(function(){
	$(".editar").height(20);

  $(".ocultar").click(function(){
    $(this).attr("hidden", true);
    $(this).parent().next().attr("hidden", true);
    $($(this).siblings()[0]).attr("hidden", false)
  });
  $(".mostrar").click(function(){
    $(this).attr("hidden", true);
    $(this).parent().next().attr("hidden", false);
    $($(this).siblings()[0]).attr("hidden", false);
  });

});


</script>
<style>
.input-group-addon{
  width:40%;
}
</style>

<div class="modal-header">
	<h4 class="modal-title">{{ object.nombre }}</h4>
</div>

<div class="modal-body">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Nombre</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.nombre}}" aria-describedby="basic-addon1"><br>
	</div>

	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Siglas</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.siglas}}" aria-describedby="basic-addon1"><br>
	</div>
	{% for responsable in object.responsable.all %}
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Responsable {{forloop.counter}} </span>
	  <input type="text" class="form-control" readonly="readonly" value="{{responsable.nombre}} {{responsable.apellido_paterno}} {{responsable.apellido_materno}}" aria-describedby="basic-addon1"><br>
	</div>
	{% endfor %}
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha inicio</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_inicio}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha fin</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_fin}}" aria-describedby="basic-addon1"><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Avance</span>
	  {% if object.avance %}
	  <input type="text" class="form-control" readonly="readonly" value="{{object.avance}}%" aria-describedby="basic-addon1">
	  {% else %}
	  <input type="text" class="form-control" readonly="readonly" value="0%" aria-describedby="basic-addon1">
	  {% endif %}
	  <br>

	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Comentario</span>
	  <textarea class="form-control" readonly="readonly" aria-describedby="basic-addon1">{{object.comentario}}</textarea><br>
	</div>
		<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Fecha cambio</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.fecha_cambio}}" aria-describedby="basic-addon1"><br>
	</div>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">Cliente</span>
	  <input type="text" class="form-control" readonly="readonly" value="{{object.cliente}}" aria-describedby="basic-addon1"><br>
	</div>
</div>

<div class="modal-body">
	<h4 class="modal-title">Entregables
		<img class="mostrar" title="mostrar" src="{% static "icons/mostrar.png" %}"> 
		<img class="ocultar" title="ocultar" hidden="hidden" src="{% static "icons/ocultar.png" %}">
	</h4>
	<div hidden="hidden">
	{% for entregable in entregables %}
		<div class="input-group">
			<input type="text" class="form-control" readonly="readonly" value="{{entregable}}" aria-describedby="basic-addon2">
			<span class="input-group-addon" id="basic-addon2">
				<a href="{% url 'administracion:editar-entregable' entregable.id %}">
					<img class="editar" title="editar" src="{% static "icons/editar.png" %}">
				</a>
			</span>
		</div>
	{% endfor %}
	</div>
</div>

<div class="modal-footer">
	<center>
		<button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript: $.fancybox.close()">
			Aceptar
		</button>
	</center>
</div>
